<div class="container" style="color:#E9ECEF">

  <h1 class="jumbotron text-center" style="margin-bottom:14px;color:black"><i
      class="far fa-newspaper fa-lg mr-3"></i>THE NEWSCRAPER<br><small style="font-size:15px;">ALL YOUR NEWS IN ONE
      PLACE!!!</small></h1>

  <button id="altpressNews" class="btn btn-primary mb-2 nav_a" style="width:49.8%">ALTPRESS NEWS SCRAPE BUTTON</button>
  <button id="mtvNews" class="btn btn-primary mb-2 nav_a float_" style="width:49.8%">MTV NEWS SCRAPE BUTTON</button>
  <hr class="mt-2 mb-4" style="color:black">
  <h1 class="mb-4">News</h1>
  <div id="articles"></div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="float-right mr-1" aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body p-4">
          <div id="addNote"></div>
          <div id="notesH3"></div>
          <div id="notes"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>